PySide6>=6.8,<7
PyMuPDF>=1.24,<2
ebooklib>=0.18,<1
beautifulsoup4>=4.12,<5
python-docx>=1.1,<2
pyttsx3>=2.98,<3
edge-tts>=7,<8
imageio-ffmpeg>=0.6,<1
psutil>=6,<8
piper-tts>=1.4,<2
PyInstaller>=6.10,<7
Pillow>=11,<13
